<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>英语魔方秀</title>
	<script type="text/javascript" src="core/index.js"></script>
	<link href="index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
	<!-- 顶部搜索 start -->
	<div class="search">
		<!-- 默认 start -->
		<div class="bar">
			<a href="#" class="ico_l">
				<img class="ico" src="style/images/ico_search.png">
			</a>
			<input type="text" placeholder="搜索比赛关键词" />
		</div>
		<!-- 默认 end -->

		<!-- 输入态 start -->
		<div class="bar">
			<a href="#" class="ico_l">
				<img class="ico" src="style/images/ico_search.png">
			</a>
			<a href="#" class="ico_r">
				<img class="ico" src="style/images/ico_close.png">
			</a>
			<input type="text" placeholder="搜索比赛关键词" />
		</div>
		<!-- 输入态 end -->

		<!-- 搜索结果 start -->
		<div class="bar result">
			<a href="#" class="ico_l">
				<img class="ico" src="style/images/ico_search.png">
			</a>
			<a href="#" class="ico_r">
				<img class="ico" src="style/images/ico_close.png">
			</a>
			<input type="text" placeholder="搜索比赛关键词" />
			<input class="btn" type="button" value="取消">
		</div>


		<!-- 搜索结果 end -->

	</div>
	<!-- 顶部搜索 end -->

	<!-- 搜索列表 start -->
	<div class="searchlist">
	<ul>
		<li>
			<a href="?">
				<img src="pimg/search1.jpg">
			</a>
			<div class="desc">
				<div class="tip">
					<h5>海选中</h5>
					<em>还有3天2小时</em>
				</div>
				<h3>全国少儿电影才艺展示</h3>
				<span>2016-05-28 至 2016-10-28</span>
				
			</div>
		</li>

		<li>
			<a href="?">
				<img src="pimg/search2.jpg">
			</a>
			<div class="desc">
				<div class="tip">
					<h4>评委评分中</h4>
				</div>
				<h3>全国少儿电影才艺展示</h3>
				<span>2016-05-28 至 2016-10-28</span>
				
			</div>
		</li>

		<li>
			<a href="?">
				<img src="pimg/search3.jpg">
			</a>
			<div class="desc">
				<div class="tip">
					<h4>已开奖</h4>
				</div>
				<h3>全国少儿电影才艺展示</h3>
				<span>2016-05-28 至 2016-10-28</span>
				
			</div>
		</li>

	</ul>
	</div>
	<!-- 搜索列表 end -->
</div>

</body>
</html>