<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>英语魔方秀</title>
	<script type="text/javascript" src="core/index.js"></script>
	<link href="index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
	<header>
		<img class="auto" src="style/images/img_banner.png">
		<div class="bar">
			<div class="mask"></div>
			<h3>清华大学口语配音比赛</h3>
		</div>
		<!-- <div class="tip">
			
		</div> -->

		<div class="finish">
			<div class="mask"></div>
			<h3 class="text">已结束</h3>
		</div>
	</header>
	<div class="lotto">
		<div class="bd">
			<div class="title_ad">
				<img src="style/images/img_index_title_awards.png">
			</div>
			<div class="tab">
				<ul>
					<li>
						最佳配音
						<p>（345人）</p>
					</li>
					<li>
						最萌童音
						<p>（345人）</p>
					</li>
					<li>
						最佳童音
						<p>（345人）</p>
					</li>
					<li>
						最佳配音
						<p>（345人）</p>
					</li>
					<li>
						最萌童音
						<p>（345人）</p>
					</li>
				</ul>
			</div>
			<div class="tabitem">
				
				<div class="card tr">
					<img class="logo trophy" src="style/images/img_index_trophy.png">
					<ul>
						<li>
							<h4>一等奖<em>（1名）</em></h4>
							<p>蘑菇炒鱿鱼的大狮子</p>
						</li>
						<li>
							<h4>二等奖<em>（10名）</em></h4>
							<p>蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子</p>
						</li>
						<li>
							<h4>三等奖<em>（10名）</em></h4>
							<p>蘑菇炒鱿鱼的大狮子、菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子、蘑菇炒鱿鱼的大狮子</p>
						</li>

					</ul>
				</div>

				<div class="title_ad">
					<a class="btn btn_index_nomal" href="?">查看获奖名单</a>
				</div>

				<div class="title_ad">
					<img src="style/images/img_index_title_rule.png">
				</div>

				<div class="card tl">
					<img class="logo star" src="style/images/img_index_star.png">
					<ul class="dot">
						<h4>比赛时间</h4>
						<li>
							<p>蘑菇炒鱿鱼的大狮子</p>
						</li>
						<h4>比赛说明</h4>
						<li>
							<p>填写报名表后，在英语魔方秀首页“清华大学配音大赛”活动专区为任意片段配音，发布请时注明#清华大学配音比赛</p>
						</li>
						<li>
							<p>比赛时限制使用的片段配音为：冷山独白、卡罗尔的心、小萌孩儿与小萌兔</p>
						</li>
						<h4>比赛分组</h4>
						<li>
							<p>比赛分为：初级组、中级组、高级组</p>
						</li>
						<h4>评奖规则</h4>
						<li>
							<p>用户投票/评委评分/用户投票和评委评分（评委占比80%）</p>
						</li>

					</ul>
				</div>

				<div class="title_ad extend">
					<img src="style/images/img_index_title_related.png">
				</div>


				<div class="slider">
					<ul>
						<li>
							<div class="panel">
								
							</div>
							<div class="text">清华大学口语大赛</div>
						</li>
						<li>
							<div class="panel">
								
							</div>
							<div class="text">首都师范大学口语大赛</div>
						</li>
						<li>
							<div class="panel">
								
							</div>
							<div class="text">人民大学大学口语大赛</div>
						</li>
						<li>
							<div class="panel">
								
							</div>
							<div class="text">大学口语大赛</div>
						</li>
						<li>
							最萌童音
							<div class="text">大学口语大赛</div>
						</li>
					</ul>
				</div>
				
			</div>

			
			<footer class="extend">
				本次比赛有清华大学举办、英语魔方秀授权提供技术支持，与赛事没有直接关联。
			</footer>
		</div>
		<img class="auto" src="style/images/img_index_background.png">

	</div>
	
</div>

</body>
</html>